@charset "UTF-8";

/*detail pages*/
.view-panel {
    background-color: #ffffff;
}
.description-panel {
    position: relative;
    overflow-x: hidden;
    height: 264px;
    z-index: 200;
    background-color: #000000;
}
.back-control {
    position: absolute;
    top : 0;
    margin: 0 auto;
    z-index: 300;
    background: url(../images/back.png) no-repeat right center;
    background-size: 100% 100%;
    width: 100%;
    height: 64px;
}

.zoom-control {
    position: absolute;
    top : 10%;
    margin: 3% auto;
    z-index: 300;
    background: url(../images/zoom-in.png) no-repeat right center;
    background-size: 100% 100%;
    width: 100%;
    height: 96px;
}
.zoom-view-in {
    width: 100%;
    height: 100%;
}
.zoom-view-out {
    width: 200%;
    height: 200%;
}

/*responsive width*/
@media screen and (min-width:1081px) {
}
@media screen and (min-width:721px) and (max-width: 1080px) {

}
@media screen and (min-width:541px) and (max-width: 720px) {
    /*Moto Razr HD*/
    .back-control {
        height: 144px;
    }
    .zoom-control {
        height: 220px;
    }
    .view-panel {
        height: 540px;
    }
    .description-panel {
        position: relative;
        overflow-x: hidden;
        height: 740px;
        z-index: 200;
        background-color: #000000;
    }
    @media screen and (max-height: 1136px)  {
        .view-panel {
            height: 540px;
        }
        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 596px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
@media screen and (min-width: 481px) and (max-width: 540px) {
    /*Moto 3 4 Razr*/
    .back-control {
        height: 108px;
    }
    .zoom-control {
        height: 165px;
    }
    .view-panel {
        height: 360px;
    }
    .description-panel {
        position: relative;
        overflow-x: hidden;
        height: 600px;
        z-index: 200;
        background-color: #000000;
    }
    @media screen and (max-height: 852px)  {
        .view-panel {
            height: 360px;
        }

        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 492px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
@media screen and (min-width: 425px) and (max-width: 480px) {
    /*Xperia Sola*/
    .back-control {
        height: 96px;
    }
    .zoom-control {
        height: 147px;
    }
    .view-panel {
        height: 360px;
    }
    .description-panel {
        position: relative;
        overflow-x: hidden;
        height: 494px;
        z-index: 200;
        background-color: #000000;
    }
    @media screen and (max-height: 758px)  {
        .view-panel {
            height: 360px;
        }
        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 398px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
@media screen and (min-width: 415px) and (max-width: 424px) {
    /*LG Optimus HD*/
    .back-control {
        height: 85px;
    }
    .zoom-control {
        height: 130px;
    }
    .view-panel {
        height: 318px;
    }

    .description-panel {
        position: relative;
        overflow-x: hidden;
        height: 435px;
        z-index: 200;
        background-color: #000000;
    }
    @media screen and (max-height: 669px)  {
        .view-panel {
            height: 318px;
        }

        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 351px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
@media screen and (min-width: 385px) and (max-width: 414px) {
    /*ip6 Plus*/
    .back-control {
        height: 83px;
    }
    .zoom-control {
        height: 127px;
    }
    .view-panel {
        height: 310px;
    }

    .description-panel {
        position: relative;
        overflow-x: hidden;
        height: 362px;
        z-index: 200;
        background-color: #000000;
    }
    @media screen and (max-height: 608px)  {
        .view-panel {
            height: 310px;
        }

        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 298px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
@media screen and (min-width: 376px) and (max-width: 384px) {
    /*LG Optimus G*/
    .back-control {
        height: 77px;
    }
    .zoom-control {
        height: 118px;
    }
    .view-panel {
        height: 288px;
    }

    .description-panel {
        position: relative;
        overflow-x: hidden;
        height: 352px;
        z-index: 200;
        background-color: #000000;
    }
    @media screen and (max-height: 568px)  {
        .view-panel {
            height: 288px;
        }

        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 280px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
    /*iphone6*/
    .back-control {
        height: 75px;
    }
    .zoom-control {
        height: 115px;
    }
    .view-panel {
        height: 281px;
    }

    .description-panel {
        position: relative;
        overflow-x: hidden;
        height: 386px;
        z-index: 200;
        background-color: #000000;
    }
    @media screen and (max-height: 603px)  {
        /*Moto Defy 569*/
        .view-panel {
            height: 281px;
        }
        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 322px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
    .back-control {
        height: 72px;
    }
    .zoom-control {
        height: 110px;
    }
    @media screen and (min-height: 570px) and (max-height:640px) {
        .view-panel {
            height: 270px;
        }

        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 370px;
            z-index: 200;
            background-color: #000000;
        }
    }
    @media screen and (max-height: 569px)  {
        /*Moto Defy 569*/
        .view-panel {
            height: 270px;
        }
        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 298px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
@media screen and (max-width:320px) {
    @media screen and (min-height: 505px) and (max-height:568px) {
        .view-panel {
            height: 240px;
        }

        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 328px;
            z-index: 200;
            background-color: #000000;
        }

    }
    @media screen and (min-height: 481px) and (max-height:504px) {
        .view-panel {
            height: 240px;
        }

        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 264px;
            z-index: 200;
            background-color: #000000;
        }
    }
    @media screen and (min-height: 417px) and (max-height:480px) {
        .view-panel {
            height: 240px;
        }

        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 240px;
            z-index: 200;
            background-color: #000000;
        }
    }
    /*240*/
    @media screen and (max-height:416px) {
        .view-panel {
            height: 240px;
        }
        .description-panel {
            position: relative;
            overflow-x: hidden;
            height: 176px;
            z-index: 200;
            background-color: #000000;
        }
    }
}
.harley {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: scroll;
    z-index: 100;
    display: block;
}

.zoom-view {
    position: relative;
    display: block;
    background: url(../images/harley01/bak/harley01.jpg) no-repeat right center;
    background-size: 100% 100%;
}

#images {
    width: 100%;
    text-align: center;
    list-style: none;
    background-color: #000000
}

#images li {
    margin: 3 0;
    width: 100%;
    min-height: 100px;
}
.lazy-placerholder {
    padding-top: 50px;
}
.lazy-fadein {
    display: none;
}
.scroll-hint {
    position: absolute;
    bottom : 10%;
    margin: 0 auto;
    z-index: 9999;
    background: url(../images/down.png) no-repeat right center;
    background-size: 100% 100%;
    width: 100%;
    height: 48px;
}