@charset "UTF-8";
#harley04 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(../images/harley04/harley.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley04 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(../images/harley04/harley-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
#swiper-harley04 .swiper-wrapper .swiper-slide:nth-child(2) .preview-item {
    background: url(../images/harley04/harley-d2.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
#swiper-harley04 .swiper-wrapper .swiper-slide:nth-child(3) .preview-item  {
    background: url(../images/harley04/harley-d3.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
#swiper-harley04 .swiper-wrapper .swiper-slide:nth-child(4) .preview-item  {
    background: url(../images/harley04/harley-d4.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
#swiper-harley04 .swiper-wrapper .swiper-slide:nth-child(5) .preview-item  {
    background: url(../images/harley04/harley-d5.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
#swiper-harley04 .swiper-wrapper .swiper-slide:nth-child(6) .preview-item  {
    background: url(../images/harley04/harley-d6.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}