@charset "UTF-8";
#harley11 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley11.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley11 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley11-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley12 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley12.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley12 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley12-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley13 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley13.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley13 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley13-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley14 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley14.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley14 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley14-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley15 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley15.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley15 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley15-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}


#harley16 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley16.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley16 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley16-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley17 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley17.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley17 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley17-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley18 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley18.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley18 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley18-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley19 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley19.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley19 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley19-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley20 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley20.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley20 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley20-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}


#harley21 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley21.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley21 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley21-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}


#harley22 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley22.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley22 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley22-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley23 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley23.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley23 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley23-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley24 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley24.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley24 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley24-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

#harley25 .harley-zoom-view {
    position: relative;
    display: block;
    background: url(http://harley.qiniudn.com/harley25.png) no-repeat right center;
    background-size: 100% 100%;
}
#swiper-harley25 .swiper-wrapper .swiper-slide:first-child .preview-item{
    background: url(http://harley.qiniudn.com/harley25-d1.png) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
